// MAIN
@import "reset";
@import "fonts";
@import "variables";

// BLOCKS
@import "./blocks/notice";
@import "./blocks/nav";
@import "./blocks/hero";
@import "./blocks/fashion";
@import "./blocks/experience";
@import "./blocks/love";

.container {
    max-width:  1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
}