.love{
    
    .fashion__text{
        max-width: 951px;
    }
}
.love__wrapper{
    padding: 0px 0px 150px 0px;
}
.love__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 24px;
    gap: 20px;
    background-color: #FCFCFD;
    border: 1px solid #F7F7F8;
    margin-top: 60px;
    border-radius: 16px;
}
.love__card{
    background-color: #FFFFFF;
    border:1px solid #F1F1F3;
    padding: 40px;
    border-radius: 16px;
}
.user__status{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;
}
.wrap{
    display: flex;
    align-items: center;
}
.user__static{
    padding-left: 10px;
}
.user__name{
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    @extend %light-dark;
}
.love__card-text{
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    @extend %grey;
    width: 100%;
    
}

@media screen and (max-width: 1330px) {
    .love__cards{
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .love__cards{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .love__card{
        padding: 20px;
    }
    .love__card-text{
        font-size: 14px;
        line-height: 21px;
    }
}